body{
    background-color: rgb(187, 144, 144);
}

*{
    letter-spacing: 1.5px;
    font-family: 'Courier New', Courier, monospace;
}

button{
    padding-inline: 10px;
    padding-block: 2px;
    margin-top: 5px;
    
}
button:hover{
    background-color: grey;
    color: black;
    
}

h1,h2,h3{
    margin-top: 35px;
}